:root {
  --ratio: 1.4;
  --s0: 14px;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));

  --spacing: var(--s0);
  --stackSpacing: var(--s0);

  --gray: rgb(214, 214, 214);
  --light: #ececec;
  --black: rgb(10, 38, 42);
  --contrast: rgb(0, 168, 194);
  --contrast-light: rgb(191, 246, 255);
  --white: white;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}


html,
#__next,
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* ----- SPACING ----- */

.padded {
  padding: var(--s0);
}

.padded\:s1 {
  padding: var(--s1);
}

.padded\:s2 {
  padding: var(--s2);
}

.padded\:s3 {
  padding: var(--s3);
}

.padded\:s4 {
  padding: var(--s4);
}

.padded\:s5 {
  padding: var(--s5);
}

.padded\:s-1 {
  padding: var(--s-1);
}

.padded\:s-2 {
  padding: var(--s-2);
}

.padded\:s-3 {
  padding: var(--s-3);
}
.padded\:top {
  padding-top: var(--s0);
}

.padded\:top\:s1 {
  padding-top: var(--s1);
}

.padded\:top\:s2 {
  padding-top: var(--s2);
}

.padded\:top\:s3 {
  padding-top: var(--s3);
}

.padded\:top\:s4 {
  padding-top: var(--s4);
}

.padded\:top\:s5 {
  padding-top: var(--s5);
}

.padded\:top\:s-1 {
  padding-top: var(--s-1);
}

.padded\:top\:s-2 {
  padding-top: var(--s-2);
}

.padded\:bottom {
  padding-bottom: var(--s0);
}

.padded\:bottom\:s1 {
  padding-bottom: var(--s1);
}

.padded\:bottom\:s2 {
  padding-bottom: var(--s2);
}

.padded\:bottom\:s3 {
  padding-bottom: var(--s3);
}

.padded\:bottom\:s4 {
  padding-bottom: var(--s4);
}

.padded\:bottom\:s5 {
  padding-bottom: var(--s5);
}

.padded\:bottom\:s-1 {
  padding-bottom: var(--s-1);
}

.padded\:bottom\:s-2 {
  padding-bottom: var(--s-2);
}

.padded\:left {
  padding-left: var(--s0);
}

.padded\:left\:s1 {
  padding-left: var(--s1);
}

.padded\:left\:s2 {
  padding-left: var(--s2);
}

.padded\:left\:s3 {
  padding-left: var(--s3);
}

.padded\:left\:s4 {
  padding-left: var(--s4);
}

.padded\:left\:s5 {
  padding-left: var(--s5);
}

.padded\:left\:s-1 {
  padding-left: var(--s-1);
}

.padded\:left\:s-2 {
  padding-left: var(--s-2);
}

.padded\:right {
  padding-right: var(--s0);
}

.padded\:right\:s1 {
  padding-right: var(--s1);
}

.padded\:right\:s2 {
  padding-right: var(--s2);
}

.padded\:right\:s3 {
  padding-right: var(--s3);
}

.padded\:right\:s4 {
  padding-right: var(--s4);
}

.padded\:right\:s5 {
  padding-right: var(--s5);
}

.padded\:right\:s-1 {
  padding-right: var(--s-1);
}

.padded\:right\:s-2 {
  padding-right: var(--s-2);
}

.borderRadius {
  border-radius: var(--s-1);
}
.borderRadius\:small {
  border-radius: var(--s-2);
}


/* ----- SIZING ----- */

.fullBleed {
  width: 100%;
  height: 100%;
}

.fullWidth {
  width: 100%;
}
.fullHeight {
  height: 100%;
}

.textWidth {
  width: min(52ch, calc(100% - var(--s0)));
}


.threeQuarterWidth {
  width: 75%;
}

.halfWidth {
  width: 50%;
}

.quarterWidth {
  width: 40%;
}


/* ----- POSITIONING ----- */

.position\:absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.position\:absolute\:centerright {
  position: absolute;
  top: 50%;
  right: var(--s-1);
  transform: translateY(-50%);

}
.position\:absolute\:centerleft {
  position: absolute;
  top: 50%;
  left: var(--s-1);
  transform: translateY(-50%);
}
.position\:absolute\:bottomleft {
  position: absolute;
  bottom: var(--s-1);
  left: var(--s-1);
}
.position\:absolute\:bottomright {
  position: absolute;
  bottom: var(--s-1);
  right: var(--s-1);
}
.position\:absolute\:topright {
  position: absolute;
  top: var(--s-1);
  right: var(--s-1);
}
.position\:fixed\:topright {
  position: fixed;
  top: var(--s-1);
  right: var(--s-1);
}
.position\:absolute\:topcenter {
  position: absolute;
  left: 50%;
  top: var(--s-1);
  transform: translateX(-50%);
}
.position\:absolute\:bottomcenter {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.position\:fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.position\:absolute\:bottom {
  position: absolute;
  bottom: 0;
}

.position\:relative {
  position: relative;
}

.center\:child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center\:child\:vertical {
  align-items: center;
  display: flex;
}

.center\:child\:horizontal {
  justify-content: center;
  display: flex;
}

.center\:self\:horizontal, .center\:horizontal {
  margin: 0 auto;
}

.center\:horizontal\:absolute {
  left: 50%;
  transform: translateX(-50%);
}

.center\:text {
  text-align: center;
}
.align\:start {
  align-self: flex-start;
}
.align\:center {
  align-self: center;
}
.align\:end {
  margin-left: auto !important;
}

.inline {
  display: inline;
  align-self: flex-start;
}

/* ----- STACKING ----- */


.stack,
.stack\:s-3,
.stack\:s-2,
.stack\:s-1,
.stack\:noGap,
.stack\:s1,
.stack\:s2,
.stack\:s3,
.stack\:s4,
.stack\:s5 {
  display: flex;
  flex-direction: column;
}

.stack>*+* {
  margin-block-start: var(--s0);
}

.stack\:noGap>*+* {
  margin-block-start: 0;
}

.stack\:s-1>*+* {
  margin-block-start: var(--s-1);
}

.stack\:s-2>*+* {
  margin-block-start: var(--s-2);
}

.stack\:s-3>*+* {
  margin-block-start: var(--s-5);
}

.stack\:s1>*+* {
  margin-block-start: var(--s1);
}

.stack\:s2>*+* {
  margin-block-start: var(--s2);
}

.stack\:s3>*+* {
  margin-block-start: var(--s3);
}

.stack\:s4>*+* {
  margin-block-start: var(--s4);
}

.stack\:s5>*+* {
  margin-block-start: var(--s5);
}

.stack\:horizontal,
.stack\:horizontal\:s-2,
.stack\:horizontal\:s-1,
.stack\:horizontal\:noGap,
.stack\:horizontal\:s1,
.stack\:horizontal\:s2,
.stack\:horizontal\:s3 {
  display: flex;
  flex-direction: row;
}


.stack\:horizontal>*+* {
  margin-inline-start: var(--s0);
}

.stack\:horizontal\:noGap>*+* {
  margin-inline-start: 0;
}

.stack\:horizontal\:s1>*+* {
  margin-inline-start: var(--s1);
}

.stack\:horizontal\:s2>*+* {
  margin-inline-start: var(--s2);
}

.stack\:horizontal\:s-1>*+* {
  margin-inline-start: var(--s-1);
}

.stack\:horizontal\:s-2>*+* {
  margin-inline-start: var(--s-2);
}

.align\:children\:middle {
  align-items: center;
}

.align\:children\:end {
  align-items: flex-end;
}

.flex-1 {
  flex: 1;
}


/* ----- OVERFLOW ----- */

.overflow\:visible {
  overflow: visible;
}

.overflow\:hidden {
  overflow: hidden;
}

.overflow\:vertical {
  overflow-y: scroll;
}

/* ----- Z-INDEX ----- */

.zIndex\:behind {
  z-index: -1;
}

.zIndex\:higher {
  z-index: 1;
}

.zIndex\:highest {
  z-index: 10;
}

.zIndex\:everest {
  z-index: 100;
}


/* ----- ELEMENTS----- */


ul {
  margin-inline-start: var(--s0);
  margin-block-start: 0;
}

li {
  margin-inline-start: var(--s1);
  margin-block-start: var(--s-1);
}

ul ul {
  margin-inline-start: var(--s2);
  margin-block-start: 0;
}

.button:hover {
  transform: rotate(10deg) !important;
}

/* -- INTERACTIONS -- */
.cursor\:pointer {
  cursor: pointer;
}

.noEvents {
  pointer-events: none;
}

.childHasEvents>* {
  pointer-events: auto;
}


/* -- STYLING -- */

.border\:black {
  border: 1px solid var(--black);
}

.border\:dark {
  border: 1px solid var(--dark);
}

.border\:light {
  border: 1px solid var(--light);
}

.border\:gray {
  border: 1px solid var(--gray);
}

.border\:thick {
  border-width: 4px;
}
.border\:noTop {
  border-top: none;
}
.border\:noBottom {
  border-bottom: none;
}
.noBorder {
  border: none;
}

.backgroundImage {
  background-size: cover;
  background-position: center;
}

.fill\:white, .fill\:white\:hover:hover, .fill\:white\:hover:focus {
  background-color: var(--white);
}

.fill\:primary, .fill\:primary\:hover:hover, .fill\:primary\:hover:focus {
  background-color: var(--primary);
}

.fill\:light, .fill\:light\:hover:hover, .fill\:light\:hover:focus {
  background-color: var(--light);
}

.fill\:contrast, .fill\:contrast\:hover:hover, .fill\:contrast\:hover:focus {
  background-color: var(--contrast);
}

.fill\:contrast-light, .fill\:contrast-light\:hover:hover, .fill\:contrast-light\:hover:focus {
  background-color: var(--contrast-light);
}

.fill\:gray, .fill\:gray\:hover:hover, .fill\:gray\:hover:focus {
  background-color: var(--gray);
}

.fill\:black, .fill\:black\:hover:hover, .fill\:black\:hover:focus {
  background-color: var(--black);
}

.color\:primary, .color\:primary\:hover:hover, .color\:primary\:hover:focus {
  color: var(--primary);
}

.color\:dark, .color\:dark\:hover:hover, .color\:dark\:hover:focus {
  color: var(--dark);
}

.color\:light, .color\:light\:hover:hover, .color\:light\:hover:focus {
  color: var(--light);
}

.color\:gray, .color\:gray\:hover:hover, .color\:gray\:hover:focus {
  color: var(--gray);
}

/* A few exceptions for the about page */
.color\:white, .color\:white\:hover:hover, .color\:white\:hover:focus {
  color: var(--light);
  color: var(--white);
}

.color\:black {
  /* Fallback in case i havent defined the theme black (specific to this site) */
  color: var(--gray);
  color: var(--black);

}
.color\:red {
  color: var(--red);
}
.fill\:white {

  background-color: var(--light);
  background-color: var(--white);
}


/* ----- TEXT ----- */
.h0 {
  font-weight: normal;
  font-size: var(--s4);
  line-height: 0.86;
  letter-spacing: -0.02em;
}

.h1 {
  font-weight: normal;
  font-size: calc(0.8 * var(--s4));
  line-height: 0.86;
  letter-spacing: -0.02em;
}

.h2 {

  font-weight: 600;
  font-size: calc(0.8 * var(--s3));
  line-height: 1;
}

.h3 {

  font-weight: 500;
  font-size: calc(0.8 * var(--s2));
  line-height: 1;
}

.h4 {
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1;
}

p {
  line-height: 1.5;
  color: var(--dark);
}

em {
  font-weight: 600;
  font-style: normal;
}
.underline {
  text-decoration: underline;
}
input,
textarea,
select {
  font: inherit;
  min-width: 0;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--contrast);
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}


/* ----- ANIMATIONS ----- */

@keyframes rainbowGrow {
  0% {
    width: 0;
  }
  100% {
    width: 100vw;
  }
}